body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://png.pngtree.com/background/20230425/original/pngtree-black-goat-wallpaper-high-definition-picture-image_2474724.jpg);
}

.titulo{
    text-align: center; 
    height: 50px;
    color: rgb(0, 0, 0); 
    background-color: rgb(91, 91, 91);
}    
    
.menu a[href]{
    color: rgb(255, 255, 255);
    margin-right: 50px;
    border: 3px;
}
.nombre{
    text-align: center;
    margin: 0 auto;
    color:rgb(255, 255, 255);
}
.nombre a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.span{
    color: red;
}
.integrantes:hover{
color: rgb(0, 0, 0);
background-color: rgb(130, 130, 130);
}

.integrantes{
    color: white;
}

.fondo{
    width:100%;  
}
